<<<<<<< HEAD
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
	--crema: #F9EBDE;
	--azul: #003049;
	--azul2: #1E3A5F;
	--amarillo: #FFCB5C;
	--gris: #F2F2F2;
	--naranja: #F77F00;
	--rojo: #D62828;
	
}

body{
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	background-color: white;
		overflow-x: hidden;
}
header{
	width: 100vw;
	height: 15vh;
	display: flex;
	color: var(--negro);
}

.encabezado{
	margin-left: 20px;
	width: 85vw;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}
.encabezado h1{
	font-size: 50px;
	color: var(--azul2);	
}
.encabezado h1 span{
	color: var(--naranja);
}

.icono_login{
	height: 100%;
	width: 15vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.icono_back{
	height: 100%;
	width: 20vw;
	justify-content: center;
	align-items: center;
	display: flex;
}

.icono_back a{
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	color: var(--rojo);
	font-size: 30px;
}
.icono_back a i{
	margin-right: 1vw;
}

.icono_back a:hover{
	color: var(--naranja);
}

.icono_login a{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid;
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color: var(--rojo);
}

.icono_login a:hover{
	background-color: var(--naranja);
}

.container_login{
	width: 100vw;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_login form{
	width: 40%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--azul); 
	border-radius: 70px;
}

.container_login form h1{
	color: var(--azul);  
}


.container_login .input-box{
	width: 70%;
	height: 50px;
	margin: 5px 0;
	position: relative;
}

.input-box input{
	width: 100%;
	height: 90%;
	border: 1px solid var(--azul);
	outline: none;
	border-radius: 40px;
	font-size: 16px;
	color: black;
	padding: 5px 5px 5px 5px;
}

.input-box i{
	position: absolute;
	right: 10px;
	top: 45%;
	color: var(--azul); 
	transform: translateY(-50%);
	font-size: 35px;
}

.container_login .recordar{
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: 5px 10px 15px;
	width: 60%;
}

.container_login .registro{
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.btn_login{
	width: 50%;
	height: 45px;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(247,127,0,.1);
	background-color: var(--amarillo);
	font-size: 16px;
	font-weight: 600;
}

.btn_login:hover{
	background-color: var(--naranja);
}

nav{
	width: 100vw;
	height: 10vh;
	background-color: var(--azul2);
	color: var(--crema);
}

nav .barra_nav{
	display: flex;
	align-items: center;
	width: 50vw;
	height: 10vh;
	gap: 1vw;
	margin-left: 2vw;
	font-size: 20px;
}

nav .barra_nav a{
	flex-grow: 1;
	height: 6vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: transform 0.3s ease-in-out;
	text-decoration: none;
	color: var(--crema);
}
nav .barra_nav a i{
	margin-right: 0.5vw;
}

nav .barra_nav a:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.centrar_profile{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 65vh;	
}

.centrar_profile_2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 75vh;	
}

.centrar_profile .formu{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 75%;
	border-radius: 50px;
	border: 1px solid var(--azul);
}

.centrar_registro{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 65vh;	
}

.centrar_profile_2 .formu{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 90%;
	border-radius: 50px;
	border: 1px solid var(--azul);
}

.centrar_profile_2 .formu h2{
	color: var(--naranja);
}

.centrar_vertical{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: auto;
	min-height: 65vh;
}

.centrar_vertical h2{
	padding-top: 10px;
}

.centrar_profile .profile{
	width: 50vw;
	height: 50vh;
	border-radius: 50px;
	display: flex;	
}
footer{
	height: 10vh;
	background-color: var(--azul2);
	width: 100vw;
	text-align: center;
	color: white;
	display: flex; 
	align-items: center;
	justify-content: center;
}

.vertical_img{
	width: 30%;
	height: 100%;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--gris);
}

.vertical_img p{
	text-align: center;
}

.vertical_img img{
	width: 80%;
	height: 50%;
}
.info_text{
	width: 80%;
	display: flex;
	align-items: flex-start;
}
.vertical_info{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: darkgrey;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.vertical_info h2{
	color: var(--gris);
}

.vertical_info b{
	color: var(--gris);
}

.centrado{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30vw;
	height: 100vh;
}

.centrado form{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60%;
	border-radius: 50px;
	border: 1px solid var(--azul);
}

.centrado form h2{
	color: var(--azul);
}

.label{
    font-weight: bold;
    font-size: 15px;
    color: var(--azul);
    display: inline-block;
  	width: 200px;
  	text-align: left;
  	margin-left: 20px;
  	padding-top: 5px;
}

.envio{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-right: 10px; 
	gap: 1vw;
}

.envio input{
	width: 10vw;
	height: 5vh;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(247,127,0,.1);
	background-color: var(--amarillo);
	font-size: 12px;
	font-weight: 600;
}

.input_izq {
  width: 50%;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--azul);
  margin-bottom: 5px;
}
.button_cambio{
	width: 100%;
	display: flex;
	justify-content: center;
}
.button_cambio button{
	width: 13vw;
	height: 7vh;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(247,127,0,.1);
	background-color: var(--amarillo);
	font-size: 16px;
	font-weight: 600;
}
.button_cambio button:hover{
	background-color: var(--naranja);
}

.boton_1{
	width: 50%;
	height: 100%;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table{
	width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th{
	background-color: var(--naranja);
    color: white;
    text-align: left;
    padding: 12px;
}

.table td{
	padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table table, th, td {
    border-radius: 8px;
}

.table th {
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
}

.valido {
    text-decoration: none;
    font-style: italic;
}

.valido:hover {
    color: var(--rojo);
    cursor: pointer;
}

.centrar_vertical h2{
	font-weight: bold;
	color: var(--rojo);
}

.registro_fun{
	width: 65%;
	height: 10%;
	display: flex;
	align-items: center;
		color: var(--rojo);
	justify-content: flex-end;
}

.centrado_form{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 80%;
	border-radius: 50px;
	border: 1px solid var(--azul);
}

.centrado_form h2{
	color: var(--naranja);
}

.registro_fun a{
	font-size: 19px;	
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--rojo);
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
}
.registro_fun a i{
	margin-right: 0.5vw;	
	font-size: 25px;	
}

.registro_fun a:hover{
	color: var(--naranja);
	transform: scale(1.1);
	cursor: pointer;
}
=======
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
	--crema: #F9EBDE;
	--azul: #003049;
	--azul2: #1E3A5F;
	--amarillo: #FFCB5C;
	--gris: #F2F2F2;
	--naranja: #F77F00;
	--rojo: #D62828;
	
}

body{
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	background-color: white;
}
header{
	width: 100vw;
	height: 15vh;
	display: flex;
	color: var(--negro);
}

.encabezado{
	margin-left: 20px;
	width: 85vw;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}
.encabezado h1{
	font-size: 50px;
	color: var(--azul2);	
}
.encabezado h1 span{
	color: var(--naranja);
}

.icono_login{
	height: 100%;
	width: 15vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.icono_back{
	height: 100%;
	width: 20vw;
	justify-content: center;
	align-items: center;
	display: flex;
}

.icono_back a{
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	color: var(--rojo);
	font-size: 30px;
}
.icono_back a i{
	margin-right: 1vw;
}

.icono_back a:hover{
	color: var(--naranja);
}

.icono_login a{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid;
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color: var(--rojo);
}

.icono_login a:hover{
	background-color: var(--naranja);
}

.container_login{
	width: 100vw;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_login form{
	width: 40%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--azul); 
	border-radius: 70px;
}

.container_login form h1{
	color: var(--azul);  
}


.container_login .input-box{
	width: 70%;
	height: 50px;
	margin: 5px 0;
	position: relative;
}

.input-box input{
	width: 100%;
	height: 90%;
	border: 1px solid var(--azul);
	outline: none;
	border-radius: 40px;
	font-size: 16px;
	color: black;
	padding: 5px 5px 5px 5px;
}

.input-box i{
	position: absolute;
	right: 10px;
	top: 45%;
	color: var(--azul); 
	transform: translateY(-50%);
	font-size: 35px;
}

.container_login .recordar{
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: 5px 10px 15px;
	width: 60%;
}

.container_login .registro{
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.btn_login{
	width: 50%;
	height: 45px;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(247,127,0,.1);
	background-color: var(--amarillo);
	font-size: 16px;
	font-weight: 600;
}

.btn_login:hover{
	background-color: var(--naranja);
}

nav{
	width: 100vw;
	height: 10vh;
	background-color: var(--azul2);
	color: var(--crema);
}

nav .barra_nav{
	display: flex;
	align-items: center;
	width: 50vw;
	height: 10vh;
	gap: 1vw;
	margin-left: 2vw;
	font-size: 20px;
}

nav .barra_nav a{
	flex-grow: 1;
	height: 6vh;
	background-color: var(--azul2);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: transform 0.3s ease-in-out;
}
nav .barra_nav a i{
	margin-right: 0.5vw;
}

nav .barra_nav a:hover{
	transform: scale(1.1);
	cursor: pointer;
}
>>>>>>> a88634466ce084510872f8b5cf5d98fdefd08a4c
